<div>
    <h2 data-translate="moveApp.statistics.home.title">Statistics</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="statistics.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="moveApp.statistics.home.createLabel">
                        Create new Statistics
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <!--<th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th jh-sort-by="initialDate"><span data-translate="moveApp.statistics.initialDate">Initial Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="finalDate"><span data-translate="moveApp.statistics.finalDate">Final Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="distance"><span data-translate="moveApp.statistics.distance">Distance</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="duration"><span data-translate="moveApp.statistics.duration">Duration</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <!--<th jh-sort-by="steps"><span data-translate="moveApp.statistics.steps">Steps</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="caloriesBurnt"><span data-translate="moveApp.statistics.caloriesBurnt">Calories Burnt</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="averageSpeed"><span data-translate="moveApp.statistics.averageSpeed">Average Speed</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="maxSpeed"><span data-translate="moveApp.statistics.maxSpeed">Max Speed</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="numberOfActivities"><span data-translate="moveApp.statistics.numberOfActivities">Number Of Activities</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="user.id"><span data-translate="moveApp.statistics.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="statistics in vm.statistics track by statistics.id">
                    <!--<td><a ui-sref="statistics-detail({id:statistics.id})">{{statistics.id}}</a></td>-->
                        <td>{{statistics.initialDate | date:'mediumDate'}}</td>
                        <td>{{statistics.finalDate | date:'mediumDate'}}</td>
                    <td>{{statistics.distance}}</td>
                    <td>{{statistics.duration}}</td>
                    <!--<td>{{statistics.steps}}</td>-->
                    <!--<td>{{statistics.caloriesBurnt}}</td>-->
                    <!--<td>{{statistics.averageSpeed}}</td>-->
                    <!--<td>{{statistics.maxSpeed}}</td>-->
                    <!--<td>{{statistics.numberOfActivities}}</td>-->
                    <!--<td>-->
                        <!--{{statistics.user.id}}-->
                    <!--</td>-->
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="statistics-detail({id:statistics.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="statistics.edit({id:statistics.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="statistics.delete({id:statistics.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
